<div class="image">
  <div class="photo">
    <%= image_tag "#{@response.image}" %>
  </div><br/>
  <div class="response-text">
  <%= @response.description %>
  </div>
</div><br/>

<!-- ------- jQuery sparkle ------- -->

<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
  $( document ).click(function() {
    $( ".response" ).effect( "shake" );
  });
</script>
