<div class="instructions">
  <h3>click the <img src="/images/ball.png" width="25" height="25"> to shake the ball...just don't shake the baby!</h3>
</div>

<div class="response">
  <%= render "response" %>
</div><br/>
