<h1>all of baby's responses</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>description</th>
      <th>image</th><table>
  </thead>
  <tbody>
    <% @responses.each do |response| %>
      <tr>
        <td><%= response.title %></td>
        <td><%= response.description %></td>
        <td><%= response.image %></td>
      </tr>
    <% end %>
  </tbody>
</table>
